body {
	background-image: url("massa.jpg");
}

a {
	color: red;
	background-color: black;
}

p {
	color: red;
	background-color: black;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
